/* 
Text Sapceing
- Letter Spacong
- Indentation
- Line Height
- Word Spacing + Warping + White Space
*/



div {
  background-color: #b8b0b0;
  /* letter-spacing: 1px; */
  /* text-indent: 100px; */
  /* line-height: 1.6; */
  /* word-spacing: 5px; */
  width: 300px;
  /* white-space: normal; */
  /* white-space: nowrap; */
  /* word-break: break-all; */
  word-break: break-word;
}
